html, body {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  color: #262262;
  background-color: white;
}

a, a:hover, a:visited, a:active {
  color: #262262;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

pre {
  font-family: "monospace", monospace;

  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
}

@font-face {
  font-family: "Unifont";
  font-weight: 400;
  font-style: normal;
  src:
    url("/font/unifont-compact.woff2") format("woff2"),
    url("/font/unifont-compact.woff") format("woff"),
    url("/font/unifont-compact.otf") format("otf"),
    url("/font/unifont-compact.eot") format("eot");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-style: normal;
  src:
    url("/font/IBMPlexMono-Regular-Latin1.woff2") format("woff2"),
    url("/font/IBMPlexMono-Regular-Latin1.woff") format("woff");
  unicode-range: U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122, U+2212, U+FB01-FB02
}

.fox-ibmplex {
  font-family: "IBM Plex Mono", "monospace", monospace;
  font-weight: 400;
  font-style: normal;
}

.fox-unifont {
  font-family: "Unifont", "monospace", monospace;
  font-size: 16px;

  font-smooth: never;
  -webkit-font-smoothing : none;
}

.fox-hidden {
  visibility: hidden !important;
}

.fox-unselectable {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fox-announcement {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.fox-announcement > pre {
  margin: 64px 0 64px 0;
  text-align: center;
}

.fox-container {
  position: relative;
  width: 100%;
  max-width: 752px;
  margin: 64px auto 64px auto;
}

.fox-content {
  position: absolute;
  left: 16px;
  right: 16px;
}

.fox-content > * {
  position: relative;
  margin-bottom: 64px;
}

#fox-eyes {
  width: 100%;
}

#fox-eyes-image {
  display: block;
  width: 100%;
}

#fox-terminal {
  display: block;
  width: 100%;
  min-height: 22em;
  margin: 0;
}

#fox-skip {
  display: block;
  margin: 0;
  text-align: center;
}

#fox-signature {
  display: block;
  height: 64px;
}

#fox-signature-image {
  display: block;
  margin: auto;
}
